body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #06618f, #06618f, #94cbe7, #94cbe7);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
}

.container {
    text-align: center;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

.level-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level-button {
    background-color: #99dee7;
    color: #000000;
    border: 2px solid #001488;
    padding: 10px 20px;
    margin: 10px 0; 
    width: 200px; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.level-button:hover {
    background-color: #66cfcf;
    color: #f2f2f2;
}

.level-button:active {
    background-color: #ffffff;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
