body {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    animation: backgroundAnimation 20s ease infinite;
}

@keyframes backgroundAnimation {
    0% { background-color: #6a948e; }
    50% { background-color: #93c4c1; }
    100% { background-color: #6c9396; }
}

canvas {
    border: 2px solid rgb(0, 0, 0);
    background-color: #dddbdb;
}

#puzzleCanvas {
    margin-bottom: 20px; 
}

#timerDisplay,
#moveCounter {
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333; 
    background-color: #5bcfdf; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.backButton {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #5bcfdf; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backButton:hover {
    background-color: #b5f6ff; 
}
